
html{ 
  
  background-color: #0D1117;

}
.app{
  display : flex;
}
.Montserrat{
  font-family: 'Montserrat', sans-serif;

}
@font-face {
  font-family: 'Calibri_Bold';
  src: local(Calibri-Bold), url('./calibri-font/Calibri-Bold/Calibri_Bold.TTF')format('truetype');
}
.selector{
  font-family: 'Calibri_Bold';
  font-size: 20px;
  color: #fff;
  margin-left: 20px;
  margin-top: 20px;
}

.done{
  text-decoration: line-through;
  justify-content: left;

  ;}
